
body {
    position: fixed;
    display: grid;
    grid-template-rows:1fr 4fr ;
    width: 100%;
    height: auto;
    width:100%;
}

.header_menu {
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;

}
.element {
    margin-right:10px;
}
.element:hover {
   text-decoration: underline;
}
#profile {
    border-radius: 100px;
    border-style: solid;
    border-color:white;
}
#profile:hover {
    border-style: solid;
    border-color: rgb(216, 214, 214);
}
.gb_g {
    width:3%;
    height:15%;
    margin-right: 10px;
    border-radius: 100px;
}
.gb_g:hover {
    background-color: rgb(192, 190, 190);
}

.main_container {
    display:grid;
    grid-template-rows: 2fr 1fr 1fr;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
#logo {
   margin-top: 20%;
}
.search_container {
    display: flex;
    flex-direction: row;
    justify-content:left;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-radius: 40px;
    border-color: rgb(189, 188, 188);
    margin-top: 5%;
    width:80%;

}
.search_container:hover {
    box-shadow: 2px 2px 2px 2px rgb(216, 216, 216);
}
#search_space {
    width:100%;
    height:5%;
    border: none;
    outline: none;
   
}
.buttons_container {
    display:flex;
    justify-content:space-between;
    margin-top:2%;
    border-style:none;
    gap:10px;

}
.buttons {
    background-color: rgb(250, 250, 250);
    border-style:none;
    height:50px;
    width:170px;
    border-radius: 5px;
    gap:10px;
    
}
.buttons:hover {
    border-style: solid;
    border-color: rgb(180, 180, 180);
}
#button:right{
    margin-left: 10px;
}
#bottom_text {
    margin-top: 5%;
}
#lenguaje {
    color: blue;
}
#lupa {
    margin-left:2%;
    width:20px;
    justify-content: flex-start;
}
.goxjub {
    width:5%;
    height:40%;
    padding:1%;
    
}
.footer {

    justify-self: flex-end;
    background-color: rgb(243, 243, 243);
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 5%;
    width:100%;
    height: 100%;


}
.texto {
    color: grey;
}

.final {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:20px;
}
#top_part {
    border-top: 2px solid rgb(175, 175, 175);
}
.texto:hover {
    text-decoration: underline;
}
